* {
	margin: 0vh;
	padding: 0vh;
}

html, body {
	background-color: #00539F;
	height: 100vh;
	width: 100wh;
	overflow-x: hidden; 
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}

p {
	color: white; font-size: 1.8vh;
}

button {
	border: none;
	font-size: 1.5vh;
	float: left;
	margin-right: 0.5vh;
	background-color: #909090;
}
#cover {
	position: fixed; height: 100vh; width: 100vw; top:0; left: 0; background: #000; z-index:9999;
}
#cover_text {
	color: grey; text-align:center; margin: 40vh 0 40vh; font-size: 10vh;
}
#top {
	width: calc(100vw - 1vh);
	height: calc(4vh - 1vh - 0.2vh);
	background-color: #0095FF;
	padding: 0.5vh;
	border-bottom: 0.2vh solid #FF95FF;
	float: left;
}

#body_top_left{
	width: 50%;
	float: left;
}

#body_top_right{
	width: 50%;
	float: left;
}

#SaveButton {
	float: right;
}

#left {
	width: calc(30% - 1vh - 0.2vh);
	height: calc(94vh - 1vh - 0.2vh);
	background-color: #9095FF;
	padding: 0.5vh;
	border-right: 0.2vh solid #FF95FF;
	border-bottom: 0.2vh solid #FF95FF;
	float: left;
}

#right {
	width: calc(70% - 1vh);
	height: calc(94vh - 1vh - 0.2vh);
	background-color: #1F950F;
	padding: 0.5vh;
	border-bottom: 0.2vh solid #FF95FF;
	float: left;
}

#body_right_top{
	height: 60%;
	width: 100%;
}

#body_right_bot{
	width: 100%;
	height: 40%;
}

#botton {
	width: calc(100vw - 0.4vh);
	height: calc(2vh - 0.4vh);
	background-color: #0095FF;
	padding: 0.2vh;
	float:left;
}

#img_peng1 {
	display: block;
	height: auto; 
	max-height: 100%;
    max-width: 100%;
	float:left;
}