* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #00539F;
	height: 100vh;
	width: 100wh;
	overflow-x: hidden; 
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}

p {
	color: white;
}
#cover {
	position: fixed; height: 100vh; width: 100vw; top:0; left: 0; background: #000; z-index:9999;
}
#cover_text {
	postition: fixed; color: grey; text-align:center; margin: 40vh 0 40vh; font-size: 10vh;
}
#top {
	width: calc(100vw - 1vh);
	height: calc(4vh - 1vh - 0.2vh);
	background-color: #0095FF;
	padding: 0.5vh;
	border-bottom: 0.2vh solid #FF95FF;
}

#left {
	width: calc(30vw - 1vh - 0.2vh);
	height: calc(94vh - 1vh - 0.2vh);
	background-color: #9095FF;
	padding: 0.5vh;
	border-right: 0.2vh solid #FF95FF;
	border-bottom: 0.2vh solid #FF95FF;
	float: left;
}

#right {
	width: calc(70vw - 1vh);
	height: calc(94vh - 1vh - 0.2vh);
	background-color: #1F950F;
	padding: 0.5vh;
	border-bottom: 0.2vh solid #FF95FF;
	float: left;
}

#botton {
	width: calc(100vw - 0.4vh);
	height: calc(2vh - 0.4vh);
	background-color: #0095FF;
	padding: 0.2vh;
}

#img_peng1 {
	display: block;
	height: auto; 
    max-width: 100%;
}